html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

body {
    margin: 0;
}

p {
    color: white
}

header {
    top: 0;
    left: 0;
    background-color: black;
}

.logo {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    
}

ul {
    background-color: grey;
    margin: 0;
    padding-left: 5px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    height: 60px;
}

li {
    text-align: center;
    width: 300px;
}

a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

ul > li > a {
    text-decoration: none;
    text-align: center;
    color: white;
}

a:hover {
    background-color: cyan;
    color: #384050;
    transition: all 0.4s;
}

h1 {
    color: #FE0083;
}

aside {
    margin: 30px;
    padding: 15px;
    background-color: #FE0083;
    width: 17%;
    height: 600px;
}

input[type="submit"] {
    background-color: rgb(105, 105, 248);
    padding: 5px;
    margin-top: 5px;
    border-radius: 20px;
}

input[type="text"] {
    padding: 5px;
    width: 90%;
    border-radius: 10px;
}

aside > .event {
    background-color: #FE4DA8;
    width: 90%;
    padding: 10px;
}

footer {
    height: 50px;
    width: 100%;
    background-color: grey;
}

footer p {
    color: white;
    float: right;
    padding-right: 15px;
    bottom: 0;
}

italic {
    font-style: italic;
}