body {
    background: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 80%;
    width: 80%;
    position: relative;
}
.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8 {
    background: red;
    border: solid 1px white;
    position: absolute;
}